.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:
        url("https://img.freepik.com/free-vector/misty-landscape-with-fog-pine-forest-mountain-slopes-illustration-nature-scene_1150-37301.jpg?w=1380&t=st=1669660901~exp=1669661501~hmac=f6caa63942ef3b8579132f456efd19d50cfceb63f06374d0df501d3a97f21f13");
        background-size: cover;
}

.loginTitle {
    font-size: 50px;
    color: #fff;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.loginForm > inputlabel {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.loginRegisterButton{
    position: absolute;
    top: 10%;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
}